#headerComponent{
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
    max-width: 100%;
    background: rgba(25, 0, 40);
    color: white;
}

#gameTitle{
    font-size: 2em;
}

#playImg{
    height: auto;
    width: 100%;
    max-width: 100%;
}

/*home page */

#homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    background: lightgrey;
    height: calc(100vh - 7em);
    max-height: 100%;
}

#selectLevelTxt{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2em;
}

#levelContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    height: auto;
    gap: 2em;
}

.levelCards{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    border: black solid 1px;
    background: lightgrey;
}

.imgPreview{
    width: 55%;
    object-fit: cover;
    height: auto;
    transition: transform .2s;
}

.imgPreview:hover{
    transform: scale(1.2);
}

.levelTxt{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    align-items: center;
    width: 45%;
    gap: 0.7em;
}

.startLevel{
    background: grey;
    margin-top: 0.4em;
    border: none;
    border-radius: 10%;
    font-size: 1em;
    padding: 0.4em;
}

/* Timer */

#timerContainer{
    position: fixed;
    display: flex;
    left: 48vw;
    top: 1.6em;
    color: white;
}

.popup{
    background: rgba(255,255,255,0.7);
    height: auto;
    width: 70px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20%;
}

#instructionPopup{
    background: rgba(0,0,0,0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

#instructionContainer{
    background: rgba(255,255,255,0.7);
    display: flex;
    height: 500px;
    width: 600px;
    justify-content: center;
    border-radius: 10%;
}

.instructionImg{
    width: 55%;
    object-fit: cover;
    height: auto;
}

.instructionTxt{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    align-items: center;
    width: 45%;
    gap: 0.4em;
}

.instructionTitle{
    font-size: x-large;
    font-weight: bold;
}

.character{
    height: 100px;
    width: 90%;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
}

.characterPreview{
    height: 100%;
    width: 200px;
    object-fit: contain;
}

.characterText{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.characterName{
    font-size: larger;
    font-weight: bold;
}

.startBtn{
    margin-top: 0.4em;
    border: none;
    border-radius: 15%;
    font-size: 2em;
    background: lightgrey;
}

.itemTxt{
    display: flex;
    align-items: center;
    height: 33px;
}

.clickAlert{
    padding: 0.5em;
    border-radius: 10%;
    z-index: 2;
    left: 50vw;
    background: lightgreen;
}

.fail{
    background: red;
    z-index: 1;
}

/* WinScreen */
#winPopup{
    background: rgba(0,0,0,0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

#winContainer{
    background: rgba(255,255,255,0.7);
    display: flex;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
}

#highScore,
#scoreContainer{
    width: 30%;
    height: 70%;
    border: black solid 1px;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

#restartBtn{
    margin-top: 0.4em;
    border: none;
    border-radius: 15%;
    font-size: 1em;
    padding: 0.4em;
    background: lightgrey;
}

/* whats left*/
#whatsLeftContainer{
    position: fixed;
    height: 2em;
    width: 2em;
    border: solid red 1px;
    top: 0.5em;
    right: 18vw;
    border-radius: 50%;
    background: rgb(139, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
}

#whatsLeftContainer:hover{
    background: rgba(139,0,0,0.7);
}

#whatsLeftPopup{
    position: fixed;
    top: 4.2em;
    right: 12vw;
    background: rgba(34, 1, 53, 0.7);
    color: white;

    display: flex;
    flex-direction: column;
    height: 250px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.characterHalf{
    height: 75px;
    width: 90%;
    margin-top: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.characterPreview{
    height: 100%;
    width: 200px;
    object-fit: contain;
}

.characterText{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.characterName{
    font-size: larger;
    font-weight: bold;
}

.scoreName{
    width: 6.6em;
}

@media (max-width: 1250px){
    /* homepage */
    .levelCards{
        width: 400px;
        height: 400px;
    }
    
    .imgPreview{
        width: 45%;
    }
    
    .imgPreview:hover{
        transform: scale(1.2);
    }
    
    .levelTxt{
        padding-top: 1em;
        gap: 0.3em;
        width: 55%;
    }
    
    .startLevel{
        font-size: 0.9em;
    }

    .character{
        height: 75px;
        width: 90%;
        margin-top: 0.4em;
        display: flex;
        flex-direction: row;
    }
    
    .characterPreview{
        height: 100%;
        width: 75px;
    }

    /* instructions */
    #instructionContainer{
        height: 400px;
        width: 480px;
        justify-content: center;
        border-radius: 10%;
    }
    
    .instructionImg{
        width: 50%;
    }

    .instructionTxt{
        width: 50%;
    }

    .startBtn{
        font-size: 1.5em;
    }

    .characterText{
        width: 50%;
    }
}

@media (max-width: 1000px){
    /* homepage */
    #levelContainer{
        flex-direction: column;
        align-items: center;
    }

    #gameTitle{
        font-size: 1.5em;
    }
}

@media (max-width: 600px){
    #selectLevelTxt{
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
   
    #instructionContainer{
        height: 400px;
        width: 300px;
    }
    
    .instructionImg{
        width: 0%;
        display: none;
    }
    
    .instructionTxt{
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        align-items: center;
        width: 100%;
        gap: 0.4em;
    }

    .characterText{
        width: 40%;
    }

    .character{
        justify-content: center;
    }

    #gameTitle{
        font-size: 1em;
    }

    #headerComponent{
        justify-content: flex-start;
        padding-left: 1em;
    }

    /*whats left popup*/
    #whatsLeftContainer{
        right: 6vw;
    }

    #whatsLeftPopup{
        height: 180px;
        width: 100px;
        right: 1vw;
    }

    .PU{
        height: 50px;
    }

    .PUtext{
        display: none;
    }
}

@media (max-width: 500px){
    .levelCards{
        width: 250px;
    }
    
    .imgPreview{
        display: none;
        width: 0%;
    }
    
    .levelTxt{
        align-items: center;
        border: black 1px solid;
        width: 100%
    }

    #homePage{
        overflow-y: auto;
        padding-top: 4em;
        height: calc(100vh - 4em);
    }
}

@media (max-height: 1100px){
    #headerComponent{
        height: 7vh;
    }
}

@media (max-height: 900px){
    #headerComponent{
        height: 9vh;
    }
}

@media (max-height: 600px){
    #headerComponent{
        height: 11vh;
    }
}